{% extends 'main/base.html' %}

{% block title %}Наши контакты{% endblock %}

{% block content %}
    <h1>Наши контакты:</h1>
    <div class="nice">
        <hr>
        <div class="enter">
            <h3><font face="impact" color="#371C08">Outlook:</font>   dereza.dg@students.dvfu.ru</h3>
        </div>
        <div class="enter">
            <h3><font face="impact" color="#371C08">Mail:</font>   Heydanil15@mail.ru</h3>
        </div>
        <div class="enter">
            <h3><font face="impact" color="#371C08">Gmail:</font>   danilkad150803@gmail.com</h3>
        </div>
    </div>



{% endblock %}